<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--客户映射 指定到dao接口 -->
<mapper namespace="org.com.dao.RoleMapper">
    <resultMap type="org.com.bean.Role" id="roleMap">
        <result column="uid" property="uid"/>
        <result column="id" property="id"/>
        <result column="description" property="description"/>
        <result column="role" property="role"/>
    </resultMap>
    <!-- ==================定义sql片段==============
    sql:是sql片段标签属性id是该片段的唯一标识 -->
    <sql id="roleSql">
        uid,id,description,role
    </sql>
    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->
    <select id="findRoleByUserName" resultType="org.com.bean.Role" parameterType="java.lang.String">
        select uid,id,description,role from sys_role where uid = (select uid from user_info where username = ?)
    </select>
    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->
    <select id="findRoleNameById" resultType="java.lang.String" parameterType="java.lang.Integer">
        select role from sys_role where uid = #{id}
    </select>
</mapper>